
body {

    background-image: url("pizza_bg.jpg");
}
.container {
    /*background-color: #f4f4f4;*/
    background-color: rgba(244, 244, 244, 0.9);
    color:#555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    max-width: 70%;
    margin: 0 auto;
    overflow: auto;
    border-radius: 1em;
    padding: 3%;
  
    
}

h1 {
    text-align: center;
}

#navbar{
    background-color: #333;
    color: #fff;
    text-align: center;
}

#navbar ul{
    padding: 0;
    list-style: none;
}

#navbar li{
    display:inline;
}

#navbar a{
    color:#fff;
    text-decoration: none;
    font-size:1.2em;
    padding-right: 1em;
}

.form-group {
    padding-bottom: 1em;
}

.form-group label {
    display: block;
}
.buttons {
    display: block;
}

.form-group input[type="text"] {
    padding: 0.5em;
    width:25%;
}

#price_id {
    font-size: 2em;
    font-weight: bold;

}

.Pizza_class {
    float: left;
    width: 45%;
}

select {
    width: 15%;
    border-color: #555;
   
}

.cart {
    padding-top: 0.7em;
}
  
  @media only screen and (max-width: 600px) {
    /* For mobile: */
    .Pizza_class {
        float: none;
        width: 100%;
    }
  } 